@model WebApp.Models.BookEditViewModel

@{
    ViewData["Title"] = "Create Book";
}

<h2>Edit Book</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.Isbn" class="control-label"></label>
        <input asp-for="@Model.Book.Isbn" value="@Model.Book.Isbn" class="form-control" />
        <span asp-validation-for="@Model.Book.Isbn" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.Name" class="control-label"></label>
        <input asp-for="@Model.Book.Name" class="form-control" />
        <span asp-validation-for="@Model.Book.Name" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.Author" class="control-label"></label>
        <input asp-for="@Model.Book.Author" class="form-control" />
        <span asp-validation-for="@Model.Book.Author" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.Description" class="control-label"></label>
        <textarea asp-for="@Model.Book.Description" class="form-control"></textarea>
        <span asp-validation-for="@Model.Book.Description" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.PublicationDate" class="control-label"></label>
        <input asp-for="@Model.Book.PublicationDate" class="form-control" type="date" />
        <span asp-validation-for="@Model.Book.PublicationDate" class="text-danger"></span>
    </div>
    
    <div class="form-group mb-2">
        <label asp-for="@Model.Book.GenreId" class="control-label"></label>
        <select asp-for="@Model.Book.GenreId" class="form-control">
            @foreach (var genre in Model.ExistingGenres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
        <span asp-validation-for="@Model.Book.GenreId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Books" asp-controller="Admin" class="btn btn-primary">Return</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

