@model IEnumerable<WebApp.Models.LocationViewModel>
@using DAL.Models

@{
    ViewData["Title"] = "Admin - Locations";
}

@await Html.PartialAsync("_EntityLayout")

<h1>
    Locations
    <a class="btn btn-primary" asp-action="Create" asp-controller="Location" method="get">Create new</a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
            <th class="w-100">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th class="col-auto">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="d-flex flex-row gap-2">
                    <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Location" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-secondary" asp-action="Edit" asp-controller="Location" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Location" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>